<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.securenotes">

    <application
        android:allowBackup="true"
        android:label="Secure Notes"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name="com.example.securenotes.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
